@charset "UTF-8";
.popline {
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #858585 0%, #3e3e3e 50%, #303030 51%, #303030 100%);
  background: -webkit-linear-gradient(top, #858585 0%, #3e3e3e 50%, #303030 51%, #303030 100%);
  background: -o-linear-gradient(top, #858585 0%, #3e3e3e 50%, #303030 51%, #303030 100%);
  background: -ms-linear-gradient(top, #858585 0%, #3e3e3e 50%, #303030 51%, #303030 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#858585', endColorstr='#303030',GradientType=0 );
  background: linear-gradient(to bottom, #858585 0%, #3e3e3e 50%, #303030 51%, #303030 100%);
  opacity: 0.95;
  border: 1px solid #3B3B3A;
  display: none;
  margin: 0;
  list-style: none;
  padding: 0px 2px;
  font-family: Arial, Helvetica, "Hiragino Sans GB", sans-serif;
  text-rendering: optimizeLegibility; }
  .popline li {
    color: white;
    font-size: 14px;
    font-weight: bold;
    float: left;
    cursor: pointer;
    text-align: center; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .popline li i {
        font-weight: bold; } }
    .popline li .popline-text {
      font-size: 15.4px;
      top: -2px;
      display: inline-block;
      position: relative; }
    .popline li .fa, .popline li .popline-background-fix {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    .popline li a {
      background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBR‌​AA7") 0 0 repeat\9;
      outline: none;
      display: inline-block;
      padding: 8px;
      height: 14px;
      vertical-align: middle;
      min-width: 14px; }
      .popline li a:link, .popline li a:hover, .popline li a:visited, .popline li a:active {
        color: white;
        text-decoration: none; }
  .popline .popline-hover {
    background: -moz-linear-gradient(top, #7096f8 0%, #3a6ff3 50%, #2b64f3 51%, #2b64f3 100%);
    background: -webkit-linear-gradient(top, #7096f8 0%, #3a6ff3 50%, #2b64f3 51%, #2b64f3 100%);
    background: -o-linear-gradient(top, #7096f8 0%, #3a6ff3 50%, #2b64f3 51%, #2b64f3 100%);
    background: -ms-linear-gradient(top, #7096f8 0%, #3a6ff3 50%, #2b64f3 51%, #2b64f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7096f8', endColorstr='#2b64f3',GradientType=0 );
    background: linear-gradient(to bottom, #7096f8 0%, #3a6ff3 50%, #2b64f3 51%, #2b64f3 100%); }
  .popline .popline-boxed {
    padding: 0; }
  .popline .popline-lighter {
    font-weight: lighter; }
  .popline .popline-subbar {
    display: none;
    list-style: none;
    padding: 0; }
  .popline .popline-textfield {
    border: none;
    padding: 4px;
    padding: 4px 4px 5px 4px\9;
    margin-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: none;
    outline: none;
    width: 150px; }
